---
openapi: 3.0.0
info:
  title: Cards
  description: Card API provides the ability to manage a card, digitally display card details, activate cards online through various channels, search for transactions, and search for basic cardholder information using details other than a card number. All times expressed in UTC standard time.
  version: TechWriting_1.0
servers:
- url: https://card.api.fiservapps.com/cs/cards
  description: Production url
- url: https://card-sandbox.api.fiservapps.com/cs/cards
  description: Sandbox url
security:
- BearerAuth: []
tags:
- name: Activation
  description: Activate a card instantly, and retrieve current activation status for Debit and Credit cards.
- name: Add
  description: Generate a template to add card, and add card
- name: Audit
  description: Search for audit details on a card.
- name: Demographics
  description: Search or set demographic information about cardholders.
- name: Details
  description: Retrieves basic cardholder information using full card number or other details such as email address, last name and phone.
- name: Digital Card Display
  description: Display card activation date and CVV, enabling immediate use after issuance.
- name: Limits
  description: Set, search and update card limits for any specified Primary Account Number (PAN).
- name: Order
  description: Search, update or cancel an order for a card.
- name: PIN
  description: Set a pin and reset pin attempts.
- name: Related Account
  description: Retrieve or update account associations for a card.
- name: Replacement
  description: Order replacements for cards.
- name: Transaction
  description: Search for transactions on a card, retrieving summary or detailed information.
- name: Update Status
  description: Update the status of a card, including deactivating the card.
paths:
  /cardtokenservice/mss/cards/all/v2/cards/authDetails:
    post:
      tags:
      - Digital Card Display
      summary: Retrieve card expiration date and CV2.
      operationId: getCardAuthDetailsV2
      parameters:
      - name: Authorization
        in: header
        description: 'Retrieve an access token through the Access Token API. Access token is required in every request. Refer to documentation on access token  (https://card.developer.fiserv.com/apis/token).Tokens expire after 15 minutes. Provide the value as follows in the header. Authorization:: Bearer <Access Token Value>'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: Bearer USlfM8dilzKZPcuGGP3BfVLd7Snk
      - name: userId
        in: header
        description: Optional. User on behalf of whom the request is being made. userId must be alphanumeric.
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: johndoe
      - name: x-fapi-financial-id
        in: header
        description: Required. Provide 8 digit client id
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 12345678
      requestBody:
        description: getCardAuthDetailsRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthDetailsRequestV2'
        required: true
      responses:
        "200":
          description: OK
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthDetailsResponseV2'
        "400":
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                AuthDetailsV2Search400:
                  $ref: '#/components/examples/AuthDetailsV2Search400'
        "401":
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                AuthDetailsV2Search401:
                  $ref: '#/components/examples/AuthDetailsV2Search401'
        "403":
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                AuthDetailsV2Search403:
                  $ref: '#/components/examples/AuthDetailsV2Search403'
        "404":
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                AuthDetailsV2Search404:
                  $ref: '#/components/examples/AuthDetailsV2Search404'
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                AuthDetailsV2Search405:
                  $ref: '#/components/examples/AuthDetailsV2Search405'
        "406":
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                AuthDetailsV2Search406:
                  $ref: '#/components/examples/AuthDetailsV2Search406'
        "415":
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                AuthDetailsV2Search415:
                  $ref: '#/components/examples/AuthDetailsV2Search415'
        "422":
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                AuthDetailsV2Search422:
                  $ref: '#/components/examples/AuthDetailsV2Search422'
        "429":
          description: Too Many Requests
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                AuthDetailsV2Search429:
                  $ref: '#/components/examples/AuthDetailsV2Search429'
        "500":
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                type: object
                example:
                  errorResponse:
                    code: 500-01
                    message: internal server error
                    developerInfo:
                      developerMessage: internal server error
                      moreInfo: There was a problem handling your request. Please try again. If the problem persists please contact Support
                      messageid: 25557-84290371-1
      x-group-name: Digital Card Display
      x-proxy-name: Get Details
      x-child-product-name: Debit Cards
      x-core: EPOC
  /v1/cards/token:
    post:
      tags:
      - PIN
      summary: Obtain a JWT which is valid for 15 minutes. This token is required to set a pin.
      operationId: getCardToken
      parameters:
      - name: Authorization
        in: header
        description: 'Retrieve an access token through the Access Token API. Access token is required in every request. Refer to documentation on access token  (https://card.developer.fiserv.com/apis/token).Tokens expire after 15 minutes. Provide the value as follows in the header. Authorization:: Bearer <Access Token Value>'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: Bearer USlfM8dilzKZPcuGGP3BfVLd7Snk
      - name: userId
        in: header
        description: Optional. User on behalf of whom the request is being made. userId must be alphanumeric.
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: johndoe
      - name: x-fapi-financial-id
        in: header
        description: Required. Provide 8 digit client id
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 12345678
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardTokenRequest'
      responses:
        "200":
          description: Successful
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardTokenResponse'
        "400":
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        "401":
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        "403":
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        "404":
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        "406":
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        "415":
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        "422":
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        "429":
          description: Too Many Requests
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        "500":
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                type: object
                example:
                  errorResponse:
                    code: 500-01
                    message: internal server error
                    developerInfo:
                      developerMessage: internal server error
                      moreInfo: There was a problem handling your request. Please try again. If the problem persists please contact Support
                      messageid: 25557-84290371-1
      x-group-name: PIN
      x-proxy-name: Get Token
      x-child-product-name: Debit Cards
      x-core: EPOC
  /v1/cards/pin:
    post:
      tags:
      - PIN
      summary: Sets a PIN for a given card. You must include a token obtained from the cards/token endpoint in the request to set a PIN. The JWT token must be used within 15 minutes.
      operationId: setPin
      parameters:
      - name: Authorization
        in: header
        description: 'Retrieve an access token through the Access Token API. Access token is required in every request. Refer to documentation on access token  (https://card.developer.fiserv.com/apis/token).Tokens expire after 15 minutes. Provide the value as follows in the header. Authorization:: Bearer <Access Token Value>'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: Bearer USlfM8dilzKZPcuGGP3BfVLd7Snk
      - name: userId
        in: header
        description: Optional. User on behalf of whom the request is being made. userId must be alphanumeric.
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: johndoe
      - name: x-fapi-financial-id
        in: header
        description: Required. Provide 8 digit client id
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 12345678
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PinRequest'
      responses:
        "204":
          description: OK
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "400":
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        "401":
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        "403":
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        "404":
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        "406":
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        "415":
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        "422":
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        "429":
          description: Too Many Requests
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        "500":
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                type: object
                example:
                  errorResponse:
                    code: 500-01
                    message: internal server error
                    developerInfo:
                      developerMessage: internal server error
                      moreInfo: There was a problem handling your request. Please try again. If the problem persists please contact Support
                      messageid: 25557-84290371-1
      x-group-name: PIN
      x-proxy-name: Set PIN
      x-child-product-name: Debit Cards
      x-core: EPOC
components:
  schemas:
    AccountSearchRequest:
      title: AccountSearchRequest
      required:
      - cardNumber
      type: object
      properties:
        cardNumber:
          maxLength: 19
          minLength: 16
          type: string
          description: Card number of primary cardholder.
          format: numeric
          example: "4000200030004000"
        memberNumber:
          type: string
          description: Member Number associated with the card. If the member number is not passed, defaults to 0.
          format: numeric
          example: "0"
    AccountSearchRequestV2:
      title: AccountSearchRequest
      type: object
      properties:
        cardNumber:
          type: string
          description: |
            Unique number assigned to each cardholder record. Either cardNumber or nonTransToken must be included in the request. If both are included, only cardNumber will be used. Maximum length 19 digits.
          format: numeric
          example: "4000200030004000"
        nonTransToken:
          type: string
          description: |
            Non-transactional token associated with a card. Non-transactional token associated with a card.
            Either cardNumber or nonTransToken must be included in the request. If both are included, only cardNumber is used. Length can be between 16 and 19.
          format: alphanumeric
          example: piUVBJKZGfks4000
        memberNumber:
          maxLength: 1
          type: string
          description: |
            Unique number associated with each member of the card. Based on the card prefix setup. If the member number is not passed, defaults to 0 (zero). Applies to debit cards only.
          format: numeric
          example: "0"
    AccountSearchResponse:
      title: AccountSearchResponse
      type: object
      properties:
        cardNumber:
          type: string
          description: Card number of primary cardholder.
          example: 400010xxxxxx4000
        memberNumber:
          type: string
          description: Member Number associated with the card. If the member number is not passed, defaults to 0.
          example: "0"
        associations:
          type: array
          items:
            $ref: '#/components/schemas/Associations'
    AccountSearchResponseV2:
      title: AccountSearchResponse
      type: object
      properties:
        cardNumber:
          type: string
          description: |
            Unique number assigned to each cardholder record. Either cardNumber or nonTransToken must be included in the request. If both are included, only cardNumber will be used. Maximum length 19 digits.
          format: numeric
          example: 400020xxxxxx4000
        nonTransToken:
          type: string
          description: |
            Non-transactional token associated with a card. Non-transactional token associated with a card.
            Either cardNumber or nonTransToken must be included in the request. If both are included, only cardNumber is used. Length can be between 16 and 19.
          format: alphanumeric
          example: piUVBJKZGfks4000
        memberNumber:
          type: string
          description: |
            Unique number associated with each member of the card. Based on the card prefix setup. If the member number is not passed, defaults to 0 (zero).  Applies to debit cards only.
          format: numeric
          example: "0"
        associations:
          type: array
          items:
            $ref: '#/components/schemas/AccountSearchDetailsV2'
    Associations:
      title: AccountSearchDetails
      type: object
      properties:
        accountNumber:
          type: string
          description: Identifies account of the cardholder.
          example: "123456789"
        accountType:
          type: string
          description: Identifies the account type of the account number.
          example: CHECKING
          enum:
          - CHECKING
          - SAVINGS
          - CREDIT_CARD
          - MONEY_MARKET
          - NOW
          - IRA
          - CREDIT_LINE
          - INSTALLMENT_LOAN
          - MORTGAGE_LOAN
        accountDescription:
          type: string
          description: Description of the account.
          example: Main
        accountStatus:
          type: string
          description: Status of the account.
          example: ACTIVE
          enum:
          - ACTIVE
          - CLOSED
          - INACTIVE
        primaryAccount:
          type: string
          description: Identifies if the account is primary or not. At least one primary account is required for each cardholder record. You can establish a primary account for each of the following account types — Checking, Savings, Credit Card, NOW, Money Market, and Credit Line.
          example: "true"
          enum:
          - "true"
          - "false"
          - NOT_APPLICABLE
        restrictedTransactions:
          type: string
          description: "Indicates if the account is restricted to transactions that change the account to a positive balance. P\nValues are -  \nNO_RESTRICTIONS — All transactions allowed  \nBALANCE_INQUIRY_DEPOSIT_AND_TRANSFER_TO — Transactions allowed include balance inquiries, deposits and transfers to the account.\n"
          example: NO_RESTRICTIONS
          enum:
          - NO_RESTRICTIONS
          - BALANCE_INQUIRY_DEPOSIT_AND_TRANSFER_TO
          - NOT_APPLICABLE
        transactionsAllowed:
          $ref: '#/components/schemas/TransactionsAllowed'
    AccountSearchDetailsV2:
      title: AccountSearchDetails
      type: object
      properties:
        accountNumber:
          type: string
          description: Identifies account of the cardholder.
          example: "123456789"
        accountType:
          type: string
          description: "Identifies the account type of the account number.\nValues are - \n- CHECKING - Account that allows you to deposit and withdraw funds.\n- SAVINGS - Account that allows you to earn interest on the money you deposit.\n- CREDIT_CARD - Type of payment card that allows you to borrow money to make purchases.\n- MONEY_MARKET - Account that typically pays a higher interest rate than a traditional savings account, in exchange for requiring a higher minimum balance.\n- NOW - Type of interest-bearing bank account that allow the account holder to write checks or make withdrawals on demand.\n- IRA -Type of investment account that allows you to save for retirement while potentially receiving tax benefits.\n- CREDIT_LINE -Type of loan that allows you to borrow money up to a certain limit, but you only pay interest on the amount you borrow.\n- INSTALLMENT_LOAN -  Type of loan that is repaid in regular, fixed payments over a set period of time, usually with interest.\n- MORTGAGE_LOAN - Type of loan that is used to finance the purchase of a home or other real estate.\n"
          example: CHECKING
          enum:
          - CHECKING
          - SAVINGS
          - CREDIT_CARD
          - MONEY_MARKET
          - NOW
          - IRA
          - CREDIT_LINE
          - INSTALLMENT_LOAN
          - MORTGAGE_LOAN
        accountDescription:
          type: string
          description: Description of the account.
          example: Main
        accountStatus:
          type: string
          description: Status of the account.
          example: ACTIVE
          enum:
          - ACTIVE
          - CLOSED
          - INACTIVE
        primaryAccount:
          type: string
          description: "Identifies if the account is Primary or not. \nAt least one primary account is required for each cardholder record.  \nYou can establish a primary account for each of the following account types — CHECKING, SAVINGS, CREDIT_CARD, NOW, MONEY_MARKET, and CREDIT_LINE. \n"
          example: "true"
          default: "false"
          enum:
          - "true"
          - "false"
          - NOT_APPLICABLE
        restrictedTransactions:
          type: string
          description: |
            Indicates if the account is restricted to transactions that change the account to a positive balance.
            Values are -
            - NO_RESTRICTIONS - All transactions allowed.
            - BALANCE_INQUIRY_DEPOSIT_AND_TRANSFER_TO - Transactions allowed include balance inquiries, deposits and transfers to the account.
          example: NO_RESTRICTIONS
          enum:
          - NO_RESTRICTIONS
          - BALANCE_INQUIRY_DEPOSIT_AND_TRANSFER_TO
          - NOT_APPLICABLE
        transactionsAllowed:
          $ref: '#/components/schemas/TransactionsAllowedSearchV2'
    TransactionsAllowed:
      title: TransactionsAllowed
      type: object
      properties:
        balanceInquiries:
          type: boolean
          description: Transactions allowed for balance inquiries.
          example: true
        deposits:
          type: boolean
          description: Transactions allowed for deposits.
          example: true
        paymentFrom:
          type: boolean
          description: Transactions allowed for outgoing payment.
          example: true
        paymentTo:
          type: boolean
          description: Transactions allowed for incoming payment.
          example: true
        posPurchasesReturns:
          type: boolean
          description: Transactions allowed for POS purchases returns.
          example: true
        transferFrom:
          type: boolean
          description: Transactions allowed for Transfer From.
          example: true
        transferTo:
          type: boolean
          description: Transactions allowed for Transfer To.
          example: true
        withdrawalsCashAdvance:
          type: boolean
          description: Transactions allowed for Withdrawals and Cash Advance.
          example: true
      description: Allowed transactions a cardholder can perform for the selected account.
    TransactionsAllowedSearchV2:
      title: TransactionsAllowed
      type: object
      properties:
        balanceInquiries:
          type: boolean
          description: Transactions allowed for balance inquiries.
          example: true
        deposits:
          type: boolean
          description: Transactions allowed for deposits.
          example: true
        paymentFrom:
          type: boolean
          description: Transactions allowed for outgoing payment.
          example: true
        paymentTo:
          type: boolean
          description: Transactions allowed for incoming payment.
          example: true
        posPurchasesReturns:
          type: boolean
          description: Transactions allowed for POS purchases returns.
          example: true
        transferFrom:
          type: boolean
          description: Transactions allowed for Transfer From.
          example: true
        transferTo:
          type: boolean
          description: Transactions allowed for Transfer To.
          example: true
        withdrawalsCashAdvance:
          type: boolean
          description: Transactions allowed for Withdrawals and Cash Advance.
          example: true
      description: Allowed transactions a cardholder can perform for the selected account.
    TransactionsAllowedV2:
      title: TransactionsAllowed
      type: object
      properties:
        balanceInquiries:
          type: boolean
          description: Transactions allowed for balance inquiries.
          example: true
        deposits:
          type: boolean
          description: Transactions allowed for deposits.
          example: true
        paymentFrom:
          type: boolean
          description: Transactions allowed for outgoing payment.
          example: true
        paymentTo:
          type: boolean
          description: Transactions allowed for incoming payment.
          example: true
        posPurchasesReturns:
          type: boolean
          description: Transactions allowed for POS purchases returns.
          example: true
        transferFrom:
          type: boolean
          description: Transactions allowed for Transfer From.
          example: true
        transferTo:
          type: boolean
          description: Transactions allowed for Transfer To.
          example: true
        withdrawalsCashAdvance:
          type: boolean
          description: Transactions allowed for Withdrawals and Cash Advance.
          example: true
      description: Allowed transactions a cardholder can perform for the selected account.
    TransactionsAllowedUpdateV2:
      title: TransactionsAllowed
      type: object
      properties:
        balanceInquiries:
          type: boolean
          description: Transactions allowed for balance inquiries.
          example: true
        deposits:
          type: boolean
          description: Transactions allowed for deposits.
          example: true
        paymentFrom:
          type: boolean
          description: Transactions allowed for outgoing payment.
          example: true
        paymentTo:
          type: boolean
          description: Transactions allowed for incoming payment.
          example: true
        posPurchasesReturns:
          type: boolean
          description: Transactions allowed for POS purchases returns.
          example: true
        transferFrom:
          type: boolean
          description: Transactions allowed for Transfer From.
          example: true
        transferTo:
          type: boolean
          description: Transactions allowed for Transfer To.
          example: true
        withdrawalsCashAdvance:
          type: boolean
          description: Transactions allowed for Withdrawals and Cash Advance.
          example: true
      description: Allowed transactions a cardholder can perform for the selected account.
    AccountAddRequest:
      title: AccountAddRequest
      required:
      - association
      - cardNumber
      type: object
      properties:
        cardNumber:
          maxLength: 19
          minLength: 16
          type: string
          description: Card number of primary cardholder.
          format: numeric
          example: "4000200030004000"
        memberNumber:
          type: string
          description: Member Number associated with the card. If the member number is not passed, defaults to 0.
          example: "0"
        association:
          $ref: '#/components/schemas/Association'
    AccountsRequestV2:
      title: AccountAddRequest
      type: object
      properties:
        cardNumber:
          type: string
          description: |
            Unique number assigned to each cardholder record. Either cardNumber or nonTransToken must be included in the request. If both are included, only cardNumber will be used. Maximum length 19 digits.
          format: numeric
          example: "4000200030004000"
        nonTransToken:
          type: string
          description: |
            Non-transactional token associated with a card. Non-transactional token associated with a card.
            Either cardNumber or nonTransToken must be included in the request. If both are included, only cardNumber is used. Length can be between 16 and 19.
          format: alphanumeric
          example: piUVBJKZGfks4000
        memberNumber:
          maxLength: 1
          type: string
          description: |
            Unique number associated with each member of the card. Based on the card prefix setup. If the member number is not passed, defaults to 0 (zero).  Applies to debit cards only.
          format: numeric
          example: "0"
        associations:
          type: array
          items:
            $ref: '#/components/schemas/AssociationV2'
    AccountUpdateRequest:
      title: AccountUpdateRequest
      required:
      - association
      - cardNumber
      type: object
      properties:
        cardNumber:
          maxLength: 19
          minLength: 16
          type: string
          description: Card number of primary cardholder.
          format: numeric
          example: "4000200030004000"
        memberNumber:
          type: string
          description: Member Number associated with the card. If the member number is not passed, defaults to 0.
          example: "0"
        association:
          $ref: '#/components/schemas/Association'
    AccountUpdateRequestV2:
      title: AccountUpdateRequest
      type: object
      properties:
        cardNumber:
          type: string
          description: |
            Unique number assigned to each cardholder record. Either cardNumber or nonTransToken must be included in the request. If both are included, only cardNumber will be used. Maximum length 19 digits.
          format: numeric
          example: "4000200030004000"
        nonTransToken:
          type: string
          description: |
            Non-transactional token associated with a card. Non-transactional token associated with a card.
            Either cardNumber or nonTransToken must be included in the request. If both are included, only cardNumber is used. Length can be between 16 and 19.
          format: alphanumeric
          example: piUVBJKZGfks4000
        memberNumber:
          maxLength: 1
          type: string
          description: |
            Unique number associated with each member of the card. Based on the card prefix setup. If the member number is not passed, defaults to 0 (zero).  Applies to debit cards only.
          format: numeric
          example: "0"
        association:
          type: array
          items:
            $ref: '#/components/schemas/AssociationUpdateV2'
    IvrPanValidationRequest:
      title: IvrPanValidationRequest
      type: object
      properties:
        cardNumber:
          maxLength: 19
          minLength: 16
          type: string
          description: Card number of primary cardholder It's typically 16 digits.Between 13 and 19 digits for card number identifier.
          format: numeric
          example: "8877665500000016"
        memberNumber:
          maxLength: 2
          type: string
          description: Member number of the cardholder.
          format: numeric
          example: "0"
        tollFreeNumber:
          type: string
          description: Client's IVR Toll Free Number (TFN).
          format: numeric
          example: "9736005878"
        validateBoth:
          type: boolean
          description: Indicates that both CVV and PIN have to be validated or only CVV have to be validated.
          example: true
    IvrPanValidationResponse:
      type: object
      properties:
        systemRecordIdentifier:
          type: string
          description: System generated ID used for validation of CVV and PIN.
        attemptsRemaining:
          type: string
          description: Total number valid attempts remaining to validate PIN/CVV.
        dekBest12:
          type: string
          description: Used to generate a PIN block for PIN verification or PIN change.
        kekDek:
          type: string
          description: Used to generate a PIN block for PIN verification or PIN change
        kekKpe:
          type: string
          description: Used to generate a PIN block for PIN verification or PIN change
        uskMfkKpe:
          type: string
          description: Used to generate a PIN block for PIN verification or PIN change
    IvrCvvValidationRequest:
      title: IvrCvvValidationRequest
      type: object
      properties:
        systemRecordIdentifier:
          type: string
          description: Sytem Record Identifier to be entered which is generated while validating PAN.
          example: e/ZdFKrmfeVKn0qFgOo0AzdSnIQG59kvZuicy1BsDuE0oLvAp0+PeozqA1G0rm/E
        cvv:
          maxLength: 3
          minLength: 3
          type: string
          description: CVV is three digit value which is present at back of  the card. As per ISO8583, field 35 ( track 2 data) have CVV.It    will enetered in plain text format.
          example: "123"
    IvrCvvValidationResponse:
      type: object
      properties:
        systemRecordIdentifier:
          type: string
          description: It is system generated ID with combination of Card Number, Exp date and other data to used throughout IVR call for validation of CVV and PIN.
        attemptsRemaining:
          type: number
          description: Total number valid attempts remaining to validate PIN/CVV.
          example: 5
    IvrPinValidationRequest:
      title: IvrPinValidationRequest
      type: object
      properties:
        systemRecordIdentifier:
          type: string
          description: Sytem Record Identifier to be entered which is generated while validating PAN.
          example: e/ZdFKrmfeVKn0qFgOo0AzdSnIQG59kvZuicy1BsDuE0oLvAp0+PeozqA1G0rm/E
        PIN:
          type: string
          description: Encrypted PIN to be entered in PIN for validation. It will be 16 byte length in alphanumeric format
          example: 55AA85FAE88D264E
    IvrPinValidationResponse:
      type: object
      properties:
        systemRecordIdentifier:
          type: string
          description: It is system generated ID with combination of Card Number, Exp date and other data to used throughout IVR call for validation of CVV and PIN.
        attemptsRemaining:
          type: number
          description: Total number valid attempts remaining to validate PIN/CVV.
          example: 5
    CompromisedCardRequest:
      type: object
      properties:
        cardNumber:
          maxLength: 19
          minLength: 16
          type: string
          description: Card number of primary cardholder to view compromised card for the entered card number .
          example: "4000200030004000"
        networkAlert:
          type: string
          description: Use the network alert number that Mastercard, Visa or the cardholder sends to view compromised cards.
        fromDate:
          type: string
          description: Narrow the search criteria by entering the file receive date for the compromised card.
          format: date
        toDate:
          type: string
          description: The date the system receives the network alert file from the source.
          format: date
        pageLimit:
          maximum: 250
          minimum: 1
          type: integer
          description: The number of entries returned per page.
          example: 50
          default: 250
        pageOffset:
          minimum: 1
          type: integer
          description: 'The page to be returned. Note: The starting record of the response will be the pagelimit multiplied by the pageoffset.'
          example: 1
          default: 1
    CompromisedCardResponse:
      type: object
      properties:
        compromisedCards:
          type: array
          items:
            $ref: '#/components/schemas/CompromisedCardList'
    CompromisedCardList:
      type: object
      properties:
        cardNumber:
          maxLength: 19
          minLength: 16
          type: string
          description: The card number for the primary cardholder.
          example: "4000200030004000"
        clientId:
          type: string
          description: 8-digit identifier of the institution;can be the institution’s routing and transit (R&T)number or a number assigned by Fiserv.
        networkAlert:
          maxLength: 20
          type: string
          description: The number of network alerts the search returns.
          format: Alphanumeric
          example: CompCard1234
        networkAlertDate:
          type: string
          description: The date the system receives the network alert file from the source.
          format: date
        severityLevel:
          type: string
          description: The severity level displays a value of A, B, C, D, 1, 2, 3, 4, 5 or 6 that represents the value that Card Services assigns to the alert to designate the severity of the compromise.
          example: A
        compromiseSource:
          type: string
          description: Displays a text description of the compromise occurrence, the entity breach or the source of the card data (for example, law enforcement recovery).
          example: FALCOMPCARD TEST 1
        sourceAlertDescription:
          type: string
          description: A description of the source alert.
          example: NO ACTION TAKEN
    CompromisedCardDetailRequest:
      type: object
      properties:
        cardNumber:
          maxLength: 19
          minLength: 16
          type: string
          description: Card number of primary cardholder to view compromised card for the entered card number .
          example: "4000200030004000"
    CompromisedCardDetailResponse:
      type: object
      properties:
        debitOnly:
          $ref: '#/components/schemas/CompromisedcardDebitDetails'
        creditOnly:
          $ref: '#/components/schemas/CompromisedcardCreditDetails'
    CompromisedcardDebitDetails:
      type: object
      properties:
        eftRiskAlertNumber:
          type: string
          description: Displays to EPOC users the number assigned to the FI when Card Services receives the MasterCard alerts as the sponsor and forwarded the alerts to Fiserv clients. This field will be blank if there is no valid number in this field for this record.
        dateLastMaintainance:
          type: string
          description: The date that action is taken against the card.
          example: 2021-07-20T00:00:00.000+0000
    CompromisedcardCreditDetails:
      type: object
      properties:
        system:
          maxLength: 4
          type: string
          description: The system that correlates with the account or cardholder.
          example: "0000"
        principal:
          maxLength: 4
          type: string
          description: The principal that correlates with the account or cardholder.
          example: "0000"
        agent:
          maxLength: 4
          type: string
          description: The agent that correlates with the account or cardholder.
          example: "0000"
        cardStatus:
          type: string
          description: The status of the card.
          example: L–Lost/Stolen
        accountStatus:
          type: string
          description: The status of the account.
          example: A–Authorization prohibited
        previousAction:
          type: string
          description: This is a previous action taken against the card. The field displays NO ACTION TAKEN whether an action has been taken on the account or not.
          example: NO ACTION TAKEN
        dateLastMaintainance:
          type: string
          description: The date the action was taken against the card.
          example: 2021-07-20T00:00:00.000+0000
        expiryDate:
          type: string
          description: The date the card expires.
          example: 2025-07-20T00:00:00.000+0000
        cardStatusReasonCode:
          type: string
          description: The card status reason code.
          example: 88–Fraud
        compromisedDate:
          type: string
          description: The lost or stolen date for the card.
        fraudActivity:
          type: string
          description: Fraud activity associated with the card
          example: None Suspected
        fraudActivityMemo:
          type: string
          description: User-defined information to describe the action performed on the card for fraud activity.You can enter up to 220 characters.
        account:
          type: string
          description: The cardholder's account number.
          example: "1451550129"
        transferredAccount:
          type: string
          description: Account transferred indicator. Indicates whether the account has been transferred.
          example: "Yes"
        transferredCard:
          type: string
          description: Card transferred indicator. Indicates whether the card has been transferred.
          example: "Yes"
    Association:
      title: Association
      type: object
      properties:
        accountNumber:
          maxLength: 20
          minLength: 1
          type: string
          description: Identifies account of the cardholder.
          example: "123456789"
        accountType:
          type: string
          description: Identifies the account type of the account number.
          example: CHECKING
          enum:
          - CHECKING
          - SAVINGS
          - CREDIT_CARD
          - MONEY_MARKET
          - NOW
          - IRA
          - CREDIT_LINE
          - INSTALLMENT_LOAN
          - MORTGAGE_LOAN
        accountDescription:
          type: string
          description: Description of the account.
          example: Main
        accountStatus:
          type: string
          description: Status of the account.
          example: ACTIVE
          enum:
          - ACTIVE
          - CLOSED
          - INACTIVE
        primaryAccount:
          type: string
          description: Identifies if the account is Primary or not. At least one primary account is required for each cardholder record. You can establish a primary account for each of the following account types — Checking, Savings, Credit Card, NOW, Money Market, and Credit Line.
          example: "true"
          enum:
          - "true"
          - "false"
          - NOT_APPLICABLE
        restrictedTransactions:
          type: string
          description: "Indicates if the account is restricted to transactions that change the account to a positive balance.  \nPossible values are -  \n- NO_RESTRICTIONS — All transactions allowed  \n- BALANCE_INQUIRY_DEPOSIT_AND_TRANSFER_TO — Transactions allowed include balance inquiries, deposits and transfers to the account'\n"
          example: NO_RESTRICTIONS
          enum:
          - NO_RESTRICTIONS
          - BALANCE_INQUIRY_DEPOSIT_AND_TRANSFER_TO
          - NOT_APPLICABLE
        transactionsAllowed:
          $ref: '#/components/schemas/TransactionsAllowed'
    AssociationV2:
      title: Association
      required:
      - accountNumber
      - accountStatus
      - accountType
      type: object
      properties:
        accountNumber:
          maxLength: 20
          minLength: 1
          type: string
          description: Identifies account of the cardholder.
          example: "123456789"
        accountType:
          type: string
          description: "Identifies the account type of the account number.\nValues are - \n- CHECKING - Account that allows you to deposit and withdraw funds.\n- SAVINGS - Account that allows you to earn interest on the money you deposit.\n- CREDIT_CARD - Type of payment card that allows you to borrow money to make purchases.\n- MONEY_MARKET - Account that typically pays a higher interest rate than a traditional savings account, in exchange for requiring a higher minimum balance.\n- NOW - Type of interest-bearing bank account that allow the account holder to write checks or make withdrawals on demand.\n- IRA -Type of investment account that allows you to save for retirement while potentially receiving tax benefits.\n- CREDIT_LINE -Type of loan that allows you to borrow money up to a certain limit, but you only pay interest on the amount you borrow.\n- INSTALLMENT_LOAN -  Type of loan that is repaid in regular, fixed payments over a set period of time, usually with interest.\n- MORTGAGE_LOAN - Type of loan that is used to finance the purchase of a home or other real estate.\n"
          example: CHECKING
          enum:
          - CHECKING
          - SAVINGS
          - CREDIT_CARD
          - MONEY_MARKET
          - NOW
          - IRA
          - CREDIT_LINE
          - INSTALLMENT_LOAN
          - MORTGAGE_LOAN
        accountDescription:
          maxLength: 10
          type: string
          description: When this field is left blank it is defaulted to last 10 digits of the account number.
          example: Main
        accountStatus:
          type: string
          description: Status of the account.
          example: ACTIVE
          enum:
          - ACTIVE
          - CLOSED
          - INACTIVE
        primaryAccount:
          type: string
          description: "Identifies if the account is Primary or not.\nAt least one primary account is required for each cardholder record.\nYou can establish a primary account for each of the following account types - CHECKING, SAVINGS, CREDIT_CARD, NOW, MONEY_MARKET, and CREDIT_LINE. \n"
          example: "true"
          default: "false"
          enum:
          - "true"
          - "false"
          - NOT_APPLICABLE
        restrictedTransactions:
          type: string
          description: "Indicates if the account is restricted to transactions that change the account to a positive balance.\nValues are - \n- NO_RESTRICTIONS - All transactions allowed.   \n- BALANCE_INQUIRY_DEPOSIT_AND_TRANSFER_TO - Transactions allowed include balance inquiries, deposits and transfers to the account.\n"
          example: NO_RESTRICTIONS
          default: NO_RESTRICTIONS
          enum:
          - NO_RESTRICTIONS
          - BALANCE_INQUIRY_DEPOSIT_AND_TRANSFER_TO
          - NOT_APPLICABLE
        transactionsAllowed:
          $ref: '#/components/schemas/TransactionsAllowedV2'
    AssociationUpdateV2:
      title: Association
      type: object
      properties:
        accountNumber:
          maxLength: 20
          minLength: 1
          type: string
          description: Identifies account of the cardholder.
          example: "123456789"
        accountType:
          type: string
          description: "Identifies the account type of the account number.\nValues are - \n- CHECKING - Account that allows you to deposit and withdraw funds.\n- SAVINGS - Account that allows you to earn interest on the money you deposit.\n- CREDIT_CARD - Type of payment card that allows you to borrow money to make purchases.\n- MONEY_MARKET - Account that typically pays a higher interest rate than a traditional savings account, in exchange for requiring a higher minimum balance.\n- NOW - Type of interest-bearing bank account that allow the account holder to write checks or make withdrawals on demand.\n- IRA -Type of investment account that allows you to save for retirement while potentially receiving tax benefits.\n- CREDIT_LINE -Type of loan that allows you to borrow money up to a certain limit, but you only pay interest on the amount you borrow.\n- INSTALLMENT_LOAN -  Type of loan that is repaid in regular, fixed payments over a set period of time, usually with interest.\n- MORTGAGE_LOAN - Type of loan that is used to finance the purchase of a home or other real estate.\nexample: CHECKING\n"
          enum:
          - CHECKING
          - SAVINGS
          - CREDIT_CARD
          - MONEY_MARKET
          - NOW
          - IRA
          - CREDIT_LINE
          - INSTALLMENT_LOAN
          - MORTGAGE_LOAN
        accountDescription:
          maxLength: 10
          type: string
          description: Description of the account
          example: Main
        accountStatus:
          type: string
          description: Status of the account.
          example: ACTIVE
          enum:
          - ACTIVE
          - CLOSED
          - INACTIVE
        primaryAccount:
          type: string
          description: "Identifies if the account is Primary or not. \nAt least one primary account is required for each cardholder record.\nYou can establish a primary account for each of the following account types — CHECKING, SAVINGS, CREDIT_CARD, NOW, MONEY_MARKET, and CREDIT_LINE. \n"
          example: "true"
          enum:
          - "true"
          - "false"
          - NOT_APPLICABLE
        restrictedTransactions:
          type: string
          description: "Indicates if the account is restricted to transactions that change the account to a positive balance.\nValues are -\n- NO_RESTRICTIONS - All transactions allowed.  \n- BALANCE_INQUIRY_DEPOSIT_AND_TRANSFER_TO - Transactions allowed include balance inquiries, deposits and transfers to the account.\n"
          example: NO_RESTRICTIONS
          enum:
          - NO_RESTRICTIONS
          - BALANCE_INQUIRY_DEPOSIT_AND_TRANSFER_TO
          - NOT_APPLICABLE
        transactionsAllowed:
          $ref: '#/components/schemas/TransactionsAllowedUpdateV2'
      description: "AccountNumber and accountType are required validation field in order to update any one of the following fields in the account association.\nFields that can be updated are - \n- accountDescription\n- accountStatus\n- primaryAccount\n- restrictedTransactions\n- balanceInquiries\n- deposits\n- paymentFrom\n- paymentTo\n- posPurchasesReturns\n- transferFrom\n- transferTo\n- withdrawalsCashAdvance\n"
    AccountDeleteRequest:
      title: AccountDeleteRequest
      required:
      - accountNumber
      - accountType
      - cardNumber
      type: object
      properties:
        cardNumber:
          maxLength: 19
          minLength: 16
          type: string
          description: Card number of primary cardholder.
          example: "4000200030004000"
        memberNumber:
          type: string
          description: Member Number associated with the card. If the member number is not passed, defaults to 0.
          example: "0"
        accountNumber:
          maxLength: 20
          minLength: 1
          type: string
          description: Identifies account of the cardholder.
          example: "123456789"
        accountType:
          type: string
          description: Identifies the account type of the account number.
          example: CHECKING
          enum:
          - CHECKING
          - SAVINGS
          - CREDIT_CARD
          - MONEY_MARKET
          - NOW
          - IRA
          - CREDIT_LINE
          - INSTALLMENT_LOAN
          - MORTGAGE_LOAN
    AccountDeleteRequestV2:
      title: AccountDeleteRequest
      required:
      - accountNumber
      - accountType
      type: object
      properties:
        cardNumber:
          type: string
          description: |
            Unique number assigned to each cardholder record. Either cardNumber or nonTransToken must be included in the request. If both are included, only cardNumber will be used. Maximum length 19 digits.
          format: numeric
          example: "4000200030004000"
        nonTransToken:
          type: string
          description: |
            Non-transactional token associated with a card. Non-transactional token associated with a card.
            Either cardNumber or nonTransToken must be included in the request. If both are included, only cardNumber is used. Length can be between 16 and 19.
          format: alphanumeric
          example: piUVBJKZGfks4000
        memberNumber:
          maxLength: 1
          type: string
          description: |
            Unique number associated with each member of the card. Based on the card prefix setup. If the member number is not passed, defaults to 0 (zero). Applies to debit cards only.
          example: "0"
        accountNumber:
          maxLength: 20
          minLength: 1
          type: string
          description: Identifies account of the cardholder.
          example: "123456789"
        accountType:
          type: string
          description: "Identifies the account type of the account number.\nValues are - \n- CHECKING - Account that allows you to deposit and withdraw funds.\n- SAVINGS - Account that allows you to earn interest on the money you deposit.\n- CREDIT_CARD - Type of payment card that allows you to borrow money to make purchases.\n- MONEY_MARKET - Account that typically pays a higher interest rate than a traditional savings account, in exchange for requiring a higher minimum balance.\n- NOW - Type of interest-bearing bank account that allow the account holder to write checks or make withdrawals on demand.\n- IRA -Type of investment account that allows you to save for retirement while potentially receiving tax benefits.\n- CREDIT_LINE -Type of loan that allows you to borrow money up to a certain limit, but you only pay interest on the amount you borrow.\n- INSTALLMENT_LOAN -  Type of loan that is repaid in regular, fixed payments over a set period of time, usually with interest.\n- MORTGAGE_LOAN - Type of loan that is used to finance the purchase of a home or other real estate.\nexample: CHECKING\n"
          enum:
          - CHECKING
          - SAVINGS
          - CREDIT_CARD
          - MONEY_MARKET
          - NOW
          - IRA
          - CREDIT_LINE
          - INSTALLMENT_LOAN
          - MORTGAGE_LOAN
    AuditSearchRequest:
      title: AuditSearchRequest
      required:
      - cardNumber
      - fromDateTime
      - toDateTime
      type: object
      properties:
        cardNumber:
          maxLength: 19
          minLength: 16
          type: string
          description: Card number of primary cardholder.
          format: numeric
          example: "4000200030004000"
        memberNumber:
          maxLength: 1
          type: string
          description: Member number associated with the card. If the member number is not passed, defaults to 0.
          format: numeric
          example: "0"
        fromDateTime:
          type: string
          description: Refines the search based on the start date and time.
          format: date-time
        toDateTime:
          type: string
          description: Refines the search based on the end date and time. Cannot be more than six month duration from 'fromDateTime'.
          format: date-time
    AuditSearchResponse:
      title: AuditSearchResponse
      type: object
      properties:
        cardNumber:
          type: string
          description: Card number of primary cardholder.
          example: 400010xxxxxx4000
        memberNumber:
          type: string
          description: Member Number associated with the card. If the member number is not passed, defaults to 0.
          example: "0"
        auditLogSearch:
          type: array
          items:
            $ref: '#/components/schemas/AuditLogSearch'
    AuditLogSearch:
      title: AuditLogSearch
      type: object
      properties:
        auditLogDateTime:
          type: string
          description: Date and time of the audit log record.
          format: date-time
        auditLogSource:
          type: string
          description: Source of the audit log record.
          example: ATM
        auditLogAction:
          type: string
          description: Action performed on the cardholder record.
          example: UPDATE
          enum:
          - ADD
          - UPDATE
          - DELETE
        recordType:
          type: string
          description: "The modified record name, followed by the internal file type.\nValues are -     \n- Card Details (MLAI)  \n- Card Details (DAF)  \n- Card Details (MLCM)  \n- Activation/PIN IVR (MLAC)  \n- Card/PIN Orders (MLCO)  \n- Names (MLNA)  \n- RuleManager (EXM)\n"
          example: Card Details (DAF).
        auditLogId:
          type: string
          description: User ID of person who completed the action.
          example: Alex
    AuditDetailsRequest:
      title: AuditDetailsRequest
      required:
      - auditLogAction
      - auditLogDateTime
      - cardNumber
      type: object
      properties:
        cardNumber:
          maxLength: 19
          minLength: 16
          type: string
          description: Card number of primary cardholder.
          format: numeric
          example: "4000200030004000"
        memberNumber:
          maxLength: 1
          type: string
          description: Member Number associated with the card. If the member number is not passed, defaults to 0.
          format: numeric
          example: "0"
        auditLogDateTime:
          type: string
          description: Date and time of the audit log record.
          format: date-time
        auditLogAction:
          type: string
          description: Cause of the audit log record.
          example: UPDATE
          enum:
          - ADD
          - UPDATE
          - DELETE
    AuditDetailsResponse:
      title: AuditDetailsResponse
      type: object
      properties:
        cardNumber:
          type: string
          description: Card number of primary cardholder.
          example: 400010xxxxxx4000
        memberNumber:
          type: string
          description: Member Number associated with the card. If the member number is not passed, defaults to 0.
          example: "0"
        auditRecordDetails:
          type: array
          items:
            $ref: '#/components/schemas/AuditRecordDetails'
    AuditRecordDetails:
      title: AuditRecordDetails
      type: object
      properties:
        fieldName:
          type: string
          description: Name of the field modified as a result of the selected update action.
          example: Account Type
        before:
          type: string
          description: The value of the field before the action.
          example: Checking
        after:
          type: string
          description: The value of the field after the action.
          example: Savings
    CustomDailylimits:
      type: object
      properties:
        nonExpiring:
          maxLength: 3
          type: string
          description: Indicates if limits tend to expire.
          example: "Yes"
        expirationDate:
          type: string
          description: Expiration date applicable to daily limits
          format: date
        atmTotalAmount:
          maxLength: 6
          type: string
          description: Online and offline withdrawal limits at an ATM.
          example: "2000"
        atmOfflineAmount:
          maxLength: 6
          type: string
          description: Offline withdrawal limits at an ATM.
          example: "200"
        posTotalAmount:
          maxLength: 6
          type: string
          description: POS Online and offline withdrawal limits at a point-of-sale.
          example: "3000"
        posOfflineAmount:
          maxLength: 6
          type: string
          description: POS offline withdrawal limits at a point-of-sale.
          example: "400"
        cashEquivTotalAmount:
          maxLength: 6
          type: string
          description: Online and offline activity for transactions involving other mediums, example travelers cheques.
          example: "500"
        cashEquivOfflineAmount:
          maxLength: 6
          type: string
          description: Offline activity for transactions involving other mediums, example travelers cheques.
          example: "100"
        customerNPTotalAmount:
          maxLength: 6
          type: string
          description: Online and offline activity for transactions performed without the card present, example internet transactions.
          example: "0"
        customerNPOfflineAmount:
          maxLength: 6
          type: string
          description: Offline activity for transactions performed without the card present, example internet transactions.
          example: "0"
        signatureDebitPOSTotalAmount:
          maxLength: 6
          type: string
          description: Signature POS Daily limit for purchase transaction requiring a signature.
          example: "0"
        signatureDebitPOSOfflineAmount:
          maxLength: 6
          type: string
          description: Signature POS daily limit for purchase transaction requiring a signature.
          example: "0"
        cashAdvanceTotalAmount:
          maxLength: 6
          type: string
          description: Online and offline activity for cash advances from an ATM.
          example: "0"
        cashAdvanceOfflineAmount:
          maxLength: 6
          type: string
          description: Offline activity for cash advances from an ATM.
          example: "0"
        aggregateTotalAmount:
          maxLength: 6
          type: string
          description: "Combined total, Online and offline withdrawal limits at ATM and POS.  \nDaily Limit Combined number of transaction attempts allowed at the ATM and POS.  \nVelocity Support (Maximum number of transactions allowed during the lifespan of the PAN) \n"
          example: "0"
        dayOfDepositAvailabilityTotalAmount:
          maxLength: 6
          type: string
          description: Total daily amount available for deposit
          example: "0"
        aggregateOfflineAmount:
          maxLength: 6
          type: string
          description: Offline withdrawal limits at ATM and POS.
          example: "0"
        mtFundingAmtPerTranTotalAmount:
          maxLength: 6
          type: string
          description: Money transfer funding  | P2P Limits Maximum dollar amount per MT funding transaction.
          example: "0"
        mtFundingAmtPerTranOfflineAmount:
          maxLength: 6
          type: string
          description: Money transfer funding | P2P Limits | offline processing. Maximum dollar amount per MT funding transaction.
          example: "0"
        mtFundingDlyCntTotal:
          maxLength: 4
          type: string
          description: Number of MT funding transactions during daily offline processing.
          example: "0"
        mtFundingDlyCntOffline:
          maxLength: 4
          type: string
          description: Number of MT funding transactions during daily offline processing.
          example: "0"
        mtFundingDlyTotalAmount:
          maxLength: 6
          type: string
          description: Dollar amount of MT funding transactions during daily online and offline processing.
          example: "0"
        mtFundingDlyOfflineAmount:
          maxLength: 6
          type: string
          description: Dollar amount of MT funding transactions during daily offline processing.
          example: "0"
        mtCreditPerTranTotalAmount:
          maxLength: 6
          type: string
          description: Money transfer credit. Dollar amount allowed for the specific transaction type during online and offline processing.
          example: "0"
        mtCreditPerTranOfflineAmount:
          maxLength: 6
          type: string
          description: Money transfer credit. Dollar amount allowed for the specific transaction type during offline processing.
          example: "0"
        mtCreditDlyCntTotal:
          maxLength: 4
          type: string
          description: Money transfer credit. Daily Count—Maximum number of MT credit transactions a cardholder can perform during a processing day online and offline.
          example: "0"
        mtCreditDlyCntOffline:
          maxLength: 4
          type: string
          description: Money transfer credit. Daily Count—Maximum number of MT credit transactions a cardholder can perform during a processing day offline.
          example: "0"
        mtCreditDlyTotalAmount:
          maxLength: 6
          type: string
          description: Maximum dollar amount of MT credit transactions a cardholder can perform during a processing day online and offline.
          example: "0"
        mtCreditDlyOfflineAmount:
          maxLength: 4
          type: string
          description: Maximum dollar amount of MT credit transactions a cardholder can perform during a processing day offline.
          example: "0"
    CustomDailylimitsV2:
      type: object
      properties:
        limitType:
          type: string
          description: Indicates that the limits are card class values.
          example: CARD_CLASS
          enum:
          - CARD_CLASS
        aggregateOfflineAmount:
          maxLength: 6
          type: string
          description: Offline withdrawal limits at ATM and POS.
          example: "500"
        aggregateTotalAmount:
          maxLength: 6
          type: string
          description: "Combined total, Online and offline withdrawal limits at ATM and POS.  \nDaily Limit Combined number of transaction attempts allowed at the ATM and POS.  \nVelocity Support (Maximum number of transactions allowed during the lifespan of the PAN)  \n"
          example: "2500"
        atmOfflineAmount:
          maxLength: 6
          type: string
          description: Offline withdrawal limits at an ATM.
          example: "300"
        atmTotalAmount:
          maxLength: 6
          type: string
          description: Online and offline withdrawal limits at an ATM.
          example: "600"
        cashAdvanceOfflineAmount:
          maxLength: 6
          type: string
          description: Offline activity for cash advances from an ATM.
          example: "0"
        cashAdvanceTotalAmount:
          maxLength: 6
          type: string
          description: Online and offline activity for cash advances from an ATM.
          example: "0"
        cashEquivOfflineAmount:
          maxLength: 6
          type: string
          description: Offline activity for transactions involving other mediums, example travelers cheques.
          example: "5"
        cashEquivTotalAmount:
          maxLength: 6
          type: string
          description: Online and offline activity for transactions involving other mediums, example travelers cheques.
          example: "10"
        customerNPOfflineAmount:
          maxLength: 6
          type: string
          description: Offline activity for transactions performed without the card present, example internet transactions.
          example: "500"
        customerNPTotalAmount:
          maxLength: 6
          type: string
          description: Online and offline activity for transactions performed without the card present, example internet transactions.
          example: "1500"
        dayOfDepositAvailabilityTotalAmount:
          maxLength: 6
          type: string
          description: Amount of same day deposit available for use.
          example: "0"
        mtCreditDlyCntOffline:
          maxLength: 4
          type: string
          description: Money transfer credit. Daily Count—Maximum number of MT credit transactions a cardholder can perform during a processing day offline.
          example: "0"
        mtCreditDlyCntTotal:
          maxLength: 4
          type: string
          description: Money transfer credit. Daily Count—Maximum number of MT credit transactions a cardholder can perform during a processing day online and offline.
          example: "0"
        mtCreditDlyOfflineAmount:
          maxLength: 4
          type: string
          description: Daily Amount—Maximum dollar amount of MT credit transactions a cardholder can perform during a processing day offline.
          example: "0"
        mtCreditDlyTotalAmount:
          maxLength: 6
          type: string
          description: Daily Amount—Maximum dollar amount of MT credit transactions a cardholder can perform during a processing day online and offline.
          example: "0"
        mtCreditPerTranOfflineAmount:
          maxLength: 6
          type: string
          description: Money transfer credit. Dollar amount allowed for the specific transaction type during offline processing
          example: "0"
        mtCreditPerTranTotalAmount:
          maxLength: 6
          type: string
          description: Money transfer credit. Dollar amount allowed for the specific transaction type during online and offline processing.
          example: "0"
        mtFundingAmtPerTranOfflineAmount:
          maxLength: 6
          type: string
          description: Maximum dollar amount per MT funding transaction. Money transfer funding | P2P Limits | offline processing.
          example: "0"
        mtFundingAmtPerTranTotalAmount:
          maxLength: 6
          type: string
          description: Money transfer funding  | P2P Limits Maximum dollar amount per MT funding transaction.
          example: "0"
        mtFundingDlyCntOffline:
          maxLength: 4
          type: string
          description: Number of MT funding transactions during daily offline processing.
          example: "0"
        mtFundingDlyCntTotal:
          maxLength: 4
          type: string
          description: Number of MT funding transactions during daily offline processing.
          example: "0"
        mtFundingDlyOfflineAmount:
          maxLength: 6
          type: string
          description: Dollar amount of MT funding transactions during daily offline processing.
          example: "0"
        mtFundingDlyTotalAmount:
          maxLength: 6
          type: string
          description: Dollar amount of MT funding transactions during daily online and offline processing.
          example: "0"
        posOfflineAmount:
          maxLength: 6
          type: string
          description: POS offline withdrawal limits at a point-of-sale.
          example: "500"
        posTotalAmount:
          maxLength: 6
          type: string
          description: POS Online and offline withdrawal limits at a point-of-sale.
          example: "2500"
        signatureDebitPOSOfflineAmount:
          maxLength: 6
          type: string
          description: POS daily limit for purchase transaction requiring a signature.
          example: "0"
        signatureDebitPOSTotalAmount:
          maxLength: 6
          type: string
          description: POS Daily limit for purchase transaction requiring a signature.
          example: "0"
    cardDailyLimitsRequestV2:
      type: object
      properties:
        nonExpiring:
          type: boolean
          description: Indicates if limits tend to expire.
          example: false
        limitExpirationDate:
          type: string
          description: Expiration date applicable to daily limits
          format: date
        aggregateOfflineAmount:
          maxLength: 6
          type: string
          description: Offline withdrawal limits at ATM and POS.
          example: "0"
        aggregateTotalAmount:
          maxLength: 6
          type: string
          description: "Combined total, Online and offline withdrawal limits at ATM and POS.  \nDaily Limit Combined number of transaction attempts allowed at the ATM and POS.  \nVelocity Support (Maximum number of transactions allowed during the lifespan of the PAN)  \n"
          example: "0"
        atmOfflineAmount:
          maxLength: 6
          type: string
          description: Offline withdrawal limits at an ATM.
          example: "200"
        atmTotalAmount:
          maxLength: 6
          type: string
          description: Online and offline withdrawal limits at an ATM.
          example: "2000"
        cashAdvanceOfflineAmount:
          maxLength: 6
          type: string
          description: Offline activity for cash advances from an ATM.
          example: "0"
        cashAdvanceTotalAmount:
          maxLength: 6
          type: string
          description: Online and offline activity for cash advances from an ATM.
          example: "0"
        cashEquivOfflineAmount:
          maxLength: 6
          type: string
          description: Offline activity for transactions involving other mediums, example travelers cheques.
          example: "100"
        cashEquivTotalAmount:
          maxLength: 6
          type: string
          description: Online and offline activity for transactions involving other mediums, example travelers cheques.
          example: "500"
        customerNPOfflineAmount:
          maxLength: 6
          type: string
          description: Offline activity for transactions performed without the card present, example internet transactions.
          example: "0"
        customerNPTotalAmount:
          maxLength: 6
          type: string
          description: Online and offline activity for transactions performed without the card present, example internet transactions.
          example: "0"
        dayOfDepositAvailabilityTotalAmount:
          maxLength: 6
          type: string
          description: Amount of same day deposit available for use.
          example: "0"
        mtCreditDlyCntOffline:
          maxLength: 4
          type: string
          description: Money transfer credit. Daily Count—Maximum number of MT credit transactions a cardholder can perform during a processing day offline.
          example: "0"
        mtCreditDlyCntTotal:
          maxLength: 4
          type: string
          description: Money transfer credit. Daily Count—Maximum number of MT credit transactions a cardholder can perform during a processing day online and offline.
          example: "0"
        mtCreditDlyOfflineAmount:
          maxLength: 4
          type: string
          description: Daily Amount—Maximum dollar amount of MT credit transactions a cardholder can perform during a processing day offline.
          example: "0"
        mtCreditDlyTotalAmount:
          maxLength: 6
          type: string
          description: Daily Amount—Maximum dollar amount of MT credit transactions a cardholder can perform during a processing day online and offline.
          example: "0"
        mtCreditPerTranOfflineAmount:
          maxLength: 6
          type: string
          description: Money transfer credit. Dollar amount allowed for the specific transaction type during offline processing
          example: "0"
        mtCreditPerTranTotalAmount:
          maxLength: 6
          type: string
          description: Money transfer credit. Dollar amount allowed for the specific transaction type during online and offline processing.
          example: "0"
        mtFundingAmtPerTranOfflineAmount:
          maxLength: 6
          type: string
          description: Maximum dollar amount per MT funding transaction. Money transfer funding | P2P Limits | offline processing.
          example: "0"
        mtFundingAmtPerTranTotalAmount:
          maxLength: 6
          type: string
          description: Money transfer funding  | P2P Limits Maximum dollar amount per MT funding transaction.
          example: "0"
        mtFundingDlyCntOffline:
          maxLength: 4
          type: string
          description: Number of MT funding transactions during daily offline processing.
          example: "0"
        mtFundingDlyCntTotal:
          maxLength: 4
          type: string
          description: Number of MT funding transactions during daily offline processing.
          example: "0"
        mtFundingDlyOfflineAmount:
          maxLength: 6
          type: string
          description: Dollar amount of MT funding transactions during daily offline processing.
          example: "0"
        mtFundingDlyTotalAmount:
          maxLength: 6
          type: string
          description: Dollar amount of MT funding transactions during daily online and offline processing.
          example: "0"
        posOfflineAmount:
          maxLength: 6
          type: string
          description: POS offline withdrawal limits at a point-of-sale.
          example: "400"
        posTotalAmount:
          maxLength: 6
          type: string
          description: POS Online and offline withdrawal limits at a point-of-sale.
          example: "3000"
        signatureDebitPOSOfflineAmount:
          maxLength: 6
          type: string
          description: POS daily limit for purchase transaction requiring a signature.
          example: "0"
        signatureDebitPOSTotalAmount:
          maxLength: 6
          type: string
          description: POS Daily limit for purchase transaction requiring a signature.
          example: "0"
      description: |
        Please provide at least one field in the input in the request to update.

        TotalAmount should be greater than OfflineAmount for the following fields in the dailyLimits.
        - aggregateOfflineAmount
        - aggregateTotalAmount
        - atmOfflineAmount
        - atmTotalAmount
        - cashAdvanceOfflineAmount
        - cashAdvanceTotalAmount
        - cashEquivOfflineAmount
        - cashEquivTotalAmount
        - customerNPOfflineAmount
        - mtCreditDlyCntOffline
        - mtCreditDlyCntTotal
        - mtCreditDlyOfflineAmount
        - mtCreditDlyTotalAmount
        - mtCreditPerTranOfflineAmount
        - mtCreditPerTranTotalAmount
        - mtFundingAmtPerTranOfflineAmount
        - mtFundingAmtPerTranTotalAmount
        - mtFundingDlyCntOffline
        - mtFundingDlyCntTotal
        - mtFundingDlyOfflineAmount
        - mtFundingDlyOfflineAmount
        - mtFundingDlyTotalAmount
        - posOfflineAmount
        - posTotalAmount
        - signatureDebitPOSOfflineAmount
        - signatureDebitPOSTotalAmount
    CardDailylimitsResponseV2:
      type: object
      properties:
        nonExpiring:
          type: boolean
          description: Indicates if limits tend to expire.
          example: false
        limitExpirationDate:
          type: string
          description: Expiration date applicable to daily limits
          format: date
        limitType:
          type: string
          description: Indicates if the limits are card class values or overridden.
          example: OVERRIDE
          enum:
          - OVERRIDE
          - CARD_CLASS
        aggregateOfflineAmount:
          maxLength: 6
          type: string
          description: Offline withdrawal limits at ATM and POS.
          example: "500"
        aggregateTotalAmount:
          maxLength: 6
          type: string
          description: "Combined total, Online and offline withdrawal limits at ATM and POS.  \nDaily Limit Combined number of transaction attempts allowed at the ATM and POS.  \nVelocity Support (Maximum number of transactions allowed during the lifespan of the PAN)  \n"
          example: "2500"
        atmOfflineAmount:
          maxLength: 6
          type: string
          description: Offline withdrawal limits at an ATM.
          example: "300"
        atmTotalAmount:
          maxLength: 6
          type: string
          description: Online and offline withdrawal limits at an ATM.
          example: "600"
        cashAdvanceOfflineAmount:
          maxLength: 6
          type: string
          description: Offline activity for cash advances from an ATM.
          example: "0"
        cashAdvanceTotalAmount:
          maxLength: 6
          type: string
          description: Online and offline activity for cash advances from an ATM.
          example: "0"
        cashEquivOfflineAmount:
          maxLength: 6
          type: string
          description: Offline activity for transactions involving other mediums, example travelers cheques.
          example: "2"
        cashEquivTotalAmount:
          maxLength: 6
          type: string
          description: Online and offline activity for transactions involving other mediums, example travelers cheques.
          example: "10"
        customerNPOfflineAmount:
          maxLength: 6
          type: string
          description: Offline activity for transactions performed without the card present, example internet transactions.
          example: "500"
        customerNPTotalAmount:
          maxLength: 6
          type: string
          description: Online and offline activity for transactions performed without the card present, example internet transactions.
          example: "1500"
        dayOfDepositAvailabilityTotalAmount:
          maxLength: 6
          type: string
          description: Amount of same day deposit available for use.
          example: "0"
        mtCreditDlyCntOffline:
          maxLength: 4
          type: string
          description: Money transfer credit. Daily Count—Maximum number of MT credit transactions a cardholder can perform during a processing day offline.
          example: "0"
        mtCreditDlyCntTotal:
          maxLength: 4
          type: string
          description: Money transfer credit. Daily Count—Maximum number of MT credit transactions a cardholder can perform during a processing day online and offline.
          example: "0"
        mtCreditDlyOfflineAmount:
          maxLength: 4
          type: string
          description: Daily Amount—Maximum dollar amount of MT credit transactions a cardholder can perform during a processing day offline.
          example: "0"
        mtCreditDlyTotalAmount:
          maxLength: 6
          type: string
          description: Daily Amount—Maximum dollar amount of MT credit transactions a cardholder can perform during a processing day online and offline.
          example: "0"
        mtCreditPerTranOfflineAmount:
          maxLength: 6
          type: string
          description: Money transfer credit. Dollar amount allowed for the specific transaction type during offline processing
          example: "0"
        mtCreditPerTranTotalAmount:
          maxLength: 6
          type: string
          description: Money transfer credit. Dollar amount allowed for the specific transaction type during online and offline processing.
          example: "0"
        mtFundingAmtPerTranOfflineAmount:
          maxLength: 6
          type: string
          description: Maximum dollar amount per MT funding transaction. Money transfer funding | P2P Limits | offline processing.
          example: "0"
        mtFundingAmtPerTranTotalAmount:
          maxLength: 6
          type: string
          description: Money transfer funding  | P2P Limits Maximum dollar amount per MT funding transaction.
          example: "0"
        mtFundingDlyCntOffline:
          maxLength: 4
          type: string
          description: Number of MT funding transactions during daily offline processing.
          example: "0"
        mtFundingDlyCntTotal:
          maxLength: 4
          type: string
          description: Number of MT funding transactions during daily offline processing.
          example: "0"
        mtFundingDlyOfflineAmount:
          maxLength: 6
          type: string
          description: Dollar amount of MT funding transactions during daily offline processing.
          example: "0"
        mtFundingDlyTotalAmount:
          maxLength: 6
          type: string
          description: Dollar amount of MT funding transactions during daily online and offline processing.
          example: "0"
        posOfflineAmount:
          maxLength: 6
          type: string
          description: POS offline withdrawal limits at a point-of-sale.
          example: "500"
        posTotalAmount:
          maxLength: 6
          type: string
          description: POS Online and offline withdrawal limits at a point-of-sale.
          example: "2500"
        signatureDebitPOSOfflineAmount:
          maxLength: 6
          type: string
          description: POS daily limit for purchase transaction requiring a signature.
          example: "0"
        signatureDebitPOSTotalAmount:
          maxLength: 6
          type: string
          description: POS Daily limit for purchase transaction requiring a signature.
          example: "0"
        lastMaintenanceBy:
          type: string
          description: User ID of the person who performed the last maintenance.
          example: Alex
        lastMaintainanceDateTime:
          type: string
          description: Date of last maintenance performed on this cardholder record.
          format: date-time
    UpdateCardDailylimitsResponseV2:
      type: object
      properties:
        nonExpiring:
          type: boolean
          description: Indicates if limits tend to expire.
          example: false
        limitExpirationDate:
          type: string
          description: Expiration date applicable to daily limits
          format: date
        limitType:
          type: string
          description: Indicates if the limits are card class values or overridden.
          example: OVERRIDE
          enum:
          - OVERRIDE
        aggregateOfflineAmount:
          maxLength: 6
          type: string
          description: Offline withdrawal limits at ATM and POS.
          example: "0"
        aggregateTotalAmount:
          maxLength: 6
          type: string
          description: "Combined total, Online and offline withdrawal limits at ATM and POS.  \nDaily Limit Combined number of transaction attempts allowed at the ATM and POS.  \nVelocity Support (Maximum number of transactions allowed during the lifespan of the PAN)  \n"
          example: "0"
        atmOfflineAmount:
          maxLength: 6
          type: string
          description: Offline withdrawal limits at an ATM.
          example: "200"
        atmTotalAmount:
          maxLength: 6
          type: string
          description: Online and offline withdrawal limits at an ATM.
          example: "2000"
        cashAdvanceOfflineAmount:
          maxLength: 6
          type: string
          description: Offline activity for cash advances from an ATM.
          example: "0"
        cashAdvanceTotalAmount:
          maxLength: 6
          type: string
          description: Online and offline activity for cash advances from an ATM.
          example: "0"
        cashEquivOfflineAmount:
          maxLength: 6
          type: string
          description: Offline activity for transactions involving other mediums, example travelers cheques.
          example: "100"
        cashEquivTotalAmount:
          maxLength: 6
          type: string
          description: Online and offline activity for transactions involving other mediums, example travelers cheques.
          example: "500"
        customerNPOfflineAmount:
          maxLength: 6
          type: string
          description: Offline activity for transactions performed without the card present, example internet transactions.
          example: "0"
        customerNPTotalAmount:
          maxLength: 6
          type: string
          description: Online and offline activity for transactions performed without the card present, example internet transactions.
          example: "0"
        dayOfDepositAvailabilityTotalAmount:
          maxLength: 6
          type: string
          description: Amount of same day deposit available for use.
          example: "0"
        mtCreditDlyCntOffline:
          maxLength: 4
          type: string
          description: Money transfer credit. Daily Count—Maximum number of MT credit transactions a cardholder can perform during a processing day offline.
          example: "0"
        mtCreditDlyCntTotal:
          maxLength: 4
          type: string
          description: Money transfer credit. Daily Count—Maximum number of MT credit transactions a cardholder can perform during a processing day online and offline.
          example: "0"
        mtCreditDlyOfflineAmount:
          maxLength: 4
          type: string
          description: Daily Amount—Maximum dollar amount of MT credit transactions a cardholder can perform during a processing day offline.
          example: "0"
        mtCreditDlyTotalAmount:
          maxLength: 6
          type: string
          description: Daily Amount—Maximum dollar amount of MT credit transactions a cardholder can perform during a processing day online and offline.
          example: "0"
        mtCreditPerTranOfflineAmount:
          maxLength: 6
          type: string
          description: Money transfer credit. Dollar amount allowed for the specific transaction type during offline processing
          example: "0"
        mtCreditPerTranTotalAmount:
          maxLength: 6
          type: string
          description: Money transfer credit. Dollar amount allowed for the specific transaction type during online and offline processing.
          example: "0"
        mtFundingAmtPerTranOfflineAmount:
          maxLength: 6
          type: string
          description: Maximum dollar amount per MT funding transaction. Money transfer funding | P2P Limits | offline processing.
          example: "0"
        mtFundingAmtPerTranTotalAmount:
          maxLength: 6
          type: string
          description: Money transfer funding  | P2P Limits Maximum dollar amount per MT funding transaction.
          example: "0"
        mtFundingDlyCntOffline:
          maxLength: 4
          type: string
          description: Number of MT funding transactions during daily offline processing.
          example: "0"
        mtFundingDlyCntTotal:
          maxLength: 4
          type: string
          description: Number of MT funding transactions during daily offline processing.
          example: "0"
        mtFundingDlyOfflineAmount:
          maxLength: 6
          type: string
          description: Dollar amount of MT funding transactions during daily offline processing.
          example: "0"
        mtFundingDlyTotalAmount:
          maxLength: 6
          type: string
          description: Dollar amount of MT funding transactions during daily online and offline processing.
          example: "0"
        posOfflineAmount:
          maxLength: 6
          type: string
          description: POS offline withdrawal limits at a point-of-sale.
          example: "400"
        posTotalAmount:
          maxLength: 6
          type: string
          description: POS Online and offline withdrawal limits at a point-of-sale.
          example: "3000"
        signatureDebitPOSOfflineAmount:
          maxLength: 6
          type: string
          description: POS daily limit for purchase transaction requiring a signature.
          example: "0"
        signatureDebitPOSTotalAmount:
          maxLength: 6
          type: string
          description: POS Daily limit for purchase transaction requiring a signature.
          example: "0"
    CardOpenToBuyLimitsResponseV2:
      type: object
      properties:
        accountOpenToBuyOfflineAmount:
          maxLength: 6
          type: string
          description: The total amount of outstanding holds offline for a specific account.
          example: "0"
        accountOpenToBuyTotalAmount:
          maxLength: 6
          type: string
          description: The total amount of outstanding holds for an account.
          example: "0"
        cardOpenToBuyOfflineAmount:
          maxLength: 6
          type: string
          description: Maximum amount of offline outstanding holds that can be placed on a specific card based on POS transactions.
          example: "0"
        cardOpenToBuyTotalAmount:
          maxLength: 6
          type: string
          description: Maximum amount of outstanding holds that can be placed on a specific card based on POS transactions.
          example: "0"
    CardVelocityLimitsResponseV2:
      type: object
      properties:
        aggMaxCardUsage:
          maxLength: 4
          type: string
          description: Maximum number of times a card can be used for a specific transaction type within the specified time.
          example: "0"
        aggTimeInterval:
          maxLength: 5
          type: string
          description: Number of hours used to track maximum card usage for a specific transaction type.
          example: 00:00
        atmMaxCardUsage:
          maxLength: 4
          type: string
          description: Maximum number of ATM transactions allowed within a certain period of time.
          example: "0"
        atmTimeInterval:
          maxLength: 5
          type: string
          description: Number of hours used to track maximum card usage for ATM transaction type.
          example: 00:00
        cashEquivMaxCardUsage:
          maxLength: 4
          type: string
          description: Maximum number of Cash Equivalent transactions allowed within a certain period of time.
          example: "0"
        cashEquivTimeInterval:
          maxLength: 5
          type: string
          description: Number of hours used to track maximum card usage for Cash Equivalent transaction type.
          example: 00:00
        posMaxCardUsage:
          maxLength: 4
          type: string
          description: Maximum number of POS transactions allowed within a certain period of time.
          example: "0"
        posTimeInterval:
          maxLength: 5
          type: string
          description: Number of hours used to track maximum card usage for POS transaction type.
          example: 00:00
    AddPriorCardInfoResponse:
      type: object
      properties:
        priorCardNumber:
          maxLength: 19
          type: string
          description: |
            Populated only when the current card number is replacing one that is no longer used. Some examples are when card numbers are reissued due to fraud and an issuer reissues card numbers under a new BIN.
          example: 400010XXXXXX4000
        priorNonTransToken:
          type: string
          description: A 16 to 19 digit Non-transactional token associated with the prior card number
          example: WUPIL5DQTZGM4000
        priorMemberNumber:
          type: string
          description: |
            Member number associated with the prior card number. If available from the cardholder record, the member number displays, else field is blank.
          example: "0"
        priorCardExpirationDate:
          type: string
          description: |
            Expiration date of the prior card number.
          format: MM/YY
          example: 10/23
    DebitPriorCardInfo:
      type: object
      properties:
        priorCardNumber:
          maxLength: 19
          type: string
          description: |
[...]
